@media(max-width: 991px){
	.col-md-3{
		display: none;
	}
}
@media(max-width: 767px){
	.live-priview-and-docs {
		justify-content: center;
	}
	nav.social-nav{
		margin: 20px;
	}
	.live-priview-and-docs .social-nav > .btn-social + .btn-social {
    margin-left: 30px;
}
}
@media(max-width: 599px){
	.live-priview-and-docs{
		flex-direction: column;
	}
	.live-priview-and-docs > .btn + .btn {
    margin-left: 0;
		margin-top: 20px;
	}
	nav.social-nav {
		justify-content: center;
	}
	.tabs-controls{
		flex-direction: column;
	}
	.tab-content .tab-pane.active ul>li {
		font-size: 14px;
	}
}



