/* === PRODUCT DETAILS PAGE === */
.product-full-img {
  padding: 20px;
  background-color: #fff;
}
.product-details-page .product-text-description {
  margin-top: 40px;
}
.product-text-description > p {
  font-size: 16px;
  line-height: 1.5em;
  color: #707070;
  margin-top: 30px;
}
.live-priview-and-docs {
  margin: 45px 0 55px;
}
.live-priview-and-docs > .btn + .btn {
  margin-left: 18px;
}
.live-priview-and-docs .social-nav > .btn-social + .btn-social {
  margin-left: 3px;
}
.tabs .tabs-controls li {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  text-align: center;
}
.tabs .tabs-controls li + li {
  border-left: none;
}
.tabs .tabs-controls li a {
  display: block;
  font-size: 16px;
  color: #70838d;
  text-transform: capitalize;
  padding: 20px;
  height: 60px;
}
.tabs .tabs-controls li a.active,
.tabs .tabs-controls li a:hover {
  font-weight: 500;
  color: #263238;
  border-bottom: 2px solid #8bc34a;
}
.product-features .tab-content {
  border: 1px solid #dedede;
  border-top: none;
  padding: 35px 35px 65px;
  font-size: 16px;
  color: #707070;
  line-height: normal;
}
.tab-content .tab-pane {
  display: none;
}
.tab-content .tab-pane.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tab-pane ul + ul {
  margin-left: 35px;
}
.tab-pane ul > li + li {
  margin-top: 20px;
}
.tab-pane ul > li > .fa {
  color: #8bc34a;
  margin-right: 15px;
}
.more-products-wrap .title {
  font-size: 18px;
  padding: 21px 27px;
  margin-top: 50px;
}
.more-products-item {
  margin-top: 28px;
  -webkit-box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
  box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
}
.more-products-item:hover {
  -webkit-box-shadow: 0 5px 15px rgba(205, 214, 222, 0.75);
  box-shadow: 0 5px 15px rgba(205, 214, 222, 0.75);
}
.more-products-item-img img {
  min-width: 100px;
}
.more-products-item-info {
  font-size: 14px;
  font-weight: 500;
  color: #263238;
  width: 100%;
  padding: 20px 20px 10px;
}
.more-products-item-info .subtitle {
  font-size: 12px;
  font-weight: 400;
  color: #8bc34a;
}
.more-products-item-info .price {
  font-size: 18px;
  font-weight: 700;
}
/* === aside-blocks === */
.product-details-page aside + aside {
  margin-top: 30px;
}
.product-price-regular {
  padding: 30px 0;
}
.aside-product-price-and-btn .price {
  font-size: 22px;
  font-weight: 500;
  color: #e74c3c;
}
.aside-product-price-and-btn .dropdown {
  font-size: 13px;
  padding: 6px 12px;
  color: #70838d;
  border: 1px solid #cccccc;
}
.aside-product-price-and-btn .dropdown .fa {
  color: #8bc34a;
  margin-left: 10px;
  padding-right: 0;
}
.aside-section .aside-product-btn .btn + .btn {
  margin-top: 7px;
}
.aside-product-author .preview-author {
  margin: 25px 0;
}
.preview-author .preview-author-img {
  margin-right: 15px;
}
.preview-author div > span {
  font-size: 18px;
}
.preview-author .btn.btn-xs {
  font-size: 13px;
  color: #707070;
  border: 1px solid #d5d5d5;
}
.preview-author .btn.btn-xs:hover {
  color: #fff;
  background-color: #8bc34a;
}
/* .author-rewards li + li {
  margin-left: 10px;
} */
.author-rewards li > span {
  display: inline-block;
}
.aside-product-sales {
  color: #707070;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}
.aside-product-sales .aside-section {
  padding: 19px 27px;
}
.aside-product-sales .fa {
  font-size: 20px;
  color: #a6b5bb;
}
.aside-product-sales span {
  color: #263238;
  margin: 0 15px 0 20px;
  font-size: 20px;
  font-weight: 700;
}
.aside-product-info .product-information > li {
  font-size: 14px;
  font-weight: 500;
  margin-top: 12px;
  color: #263238;
  line-height: 2.571em;
}
.aside-product-info .product-information > li > span {
  display: inline-block;
  font-weight: 400;
  color: #70838d;
  line-height: 1.428em;
}
/* === aside-blocks end === */
/* === PRODUCT DETAILS PAGE END === */