@media (max-width: 767px) {
    .title {
        font-size: 25px;
        line-height: 1.6em;
    }
    .title.middle {
        font-size: 20px;
    }
}
@media (max-width: 599px) {
    .title {
        font-size: 20px;
    }
    .title.middle {
        font-size: 16px;
    }
}
@media (max-width: 479px) {
    .title {
        font-size: 18px;
    }
}
/*titles end*/

.table-wrap{
	overflow-x: auto;
}

.table.table-sales{
	min-width: 600px;
}

@media (max-width: 767px){
	.sales-statement-header{
		flex-direction: column;
	}
	.sales-statement-header .title.middle{
		margin-bottom: 10px;
	}
	.sales-statement-content .find{
		margin-left: 0;
	}
}

@media (max-width: 479px){
.sales-statement-content .find,
.sales-statement-content .datepicker{
	flex-direction: column;
	}
	.datepicker span{
		padding: 10px;
	}
	.find .btn.btn-xs{
		width: 100%;
		margin-left: 0;
		margin-top: 10px;
	}
}