/* === WITHDRAWALS PAGE === */
.table{
    color:#333;
}
.form-default {
    font-family: "Roboto", sans-serif;
}
.withdrawals-content {
    padding: 40px;
}
.withdrawals .div-title {
    border-bottom: 1px solid #d3d3d3;
    padding: 20px 40px;
}
.withdrawals label {
    display: inline-block;
    font-size: 16px;
    color: #263238;
    font-family: "Myriad Pro", sans-serif;
    padding-bottom: 22px;
}
.withdrawals label:after {
    font-size: 24px;
    vertical-align: super;
    padding: 0 10px;
    color: #8bc34a;
    content: "*\00a0";
}
.withdrawals-input + .withdrawals-input {
    margin-top: 30px;
}
.withdrawals .btn {
    margin-top: 40px;
}
/* === WITHDRAWALS PAGE END === */