.btn{
    display:inline-block;
    font-size: 12px;
    font-weight: 400;
    letter-spacing:0;
    line-height:1;
    padding: 10px 20px;
    border-radius:3px;
    cursor:pointer;
    border: 2px solid transparent;
    text-align:center;
    min-width:72px;
    white-space: nowrap;
}
.btn-light-green{
    background-color: #8bc34a;
    color:#fff;
}
.btn-light-green:hover{
    background-color:#79cd17;
}
.btn-light-red{
    background-color:#e74c3c;
    color:#fff;
}
.btn-light-red:hover{
    background-color:#e5220e;
}
.btn.btn-lg{
    font-size: 18px;
    font-weight: 400;
    border-radius:0;
    padding: 24px 42px;
    background-color:#fff;
    color: #263238;
}
.btn.btn-lg:hover{
    background-color:#e5220e;
    color:#fff;
}
.btn-icon{
    font-size: 15px;
    font-weight: 500;
    background-color: #8bc34a;
    color:#fff;
    border-radius:0;
    padding:15px 24px;
    position:relative;
    min-width:205px;
    text-align:center;
}
.btn-icon .fa{
    font-size: 15px;
    position:absolute;
    top:15px;
    left:50px;
}
.btn-icon:hover{
    background-color:#76c31d;
}
.btn.btn-icon.btn-cart{
    font-size: 16px;
    font-weight: 700;
}
.btn.btn-icon.btn-cart .fa{
    position:absolute;
    top:17px;
    left:37px;
}
.btn.btn-icon.btn-favourites{
    font-size: 16px;
    font-weight: 500;
    background-color:#42a5f5;
    color:#fff;
}
.btn.btn-icon.btn-favourites .fa{
    position:absolute;
    top:17px;
    left:20px;
}
.btn.btn-icon.btn-favourites:hover{
    background-color:#078bf5;
}
.btn.btn-icon.buy-now{
    font-size: 16px;
    font-weight: 700;
    background-color:#546e7a;
    color:#fff;
    padding:17px 60px;
}
.btn.btn-icon.buy-now:hover{
    background-color:#1a5875;
}
.btn.btn-md-red{
    font-size:16px;
    font-weight: 500;
    background-color:#e74c3c;
    color:#fff;
    min-width:140px;
    padding:19px 34px;
}
.btn.btn-md-red:hover{
    background-color:#e6230e;
}
.btn.btn-md-red.screenshots{
    background-color:#455a64;
    color:#fff;
}
.btn.btn-md-red.screenshots:hover{
    background-color:#0f3f56;
}
.btn.btn-md-red.documentation{
    padding:19px 25px;
    background-color:#8bc34a;
    color:#fff;
}
.btn.btn-md-red.documentation:hover{
    background-color:#7abf2b;
}
.btn.btn-lg-social{
    font-size: 18px;
    padding: 16px 22px;
    border-radius:0;
    min-width:54px;
    color:#fff;
}
.btn.btn-lg-social.btn-facebook{
    background-color:#6370b6;
}
.btn.btn-lg-social.btn-facebook:hover{
    background-color:#2a3fb2;
}
.btn.btn-lg-social.btn-twitter{
    background-color:#5694c4;
}
.btn.btn-lg-social.btn-twitter:hover{
    background-color:#1c94f5;
}
.btn.btn-lg-social.btn-linkedin{
    background-color:#4f71ce;
}
.btn.btn-lg-social.btn-linkedin:hover{
    background-color:#1f4dca;
}
.btn.btn-lg-social.btn-pinterest{
    background-color:#d32f2f;
}
.btn.btn-lg-social.btn-pinterest:hover {
    background-color:#c00606;
}
.btn.btn-xs-social{
    font-size: 18px;
    border-radius:2px;
    padding:5px;
    min-width:28px;
    border:none;
    line-height:1;
    color:#fff;
}
.btn.btn-xs-social .fa{
    /*transform: translateY(-25%);*/
}
.btn.btn-xs-social.btn-facebook{
    background-color:#3b5998;
}
.btn.btn-xs-social.btn-facebook:hover{
    background-color:#0d3892;
}
.btn.btn-xs-social.btn-twitter{
    background-color:#55acee;
}
.btn.btn-xs-social.btn-twitter:hover{
    background-color:#0c88e7;
}
.btn.btn-xs-social.btn-youtube{
    background-color:#e52d27;
}
.btn.btn-xs-social.btn-youtube:hover{
    background-color:#691513;
}
.btn.btn-xs-social.btn-pinterest{
    background-color:#fff;
    color:#951b2b;
}
.btn.btn-xs-social.btn-pinterest:hover{
    background-color:#d5cfcf;
}
.btn.btn-xs-social.btn-linkedin{
    background-color:#1565c0;
}
.btn.btn-xs-social.btn-linkedin:hover{
    background-color:#044ea2;
}
.btn.btn-form-md{
    font-size: 20px;
    border-radius: 0;
    min-width:43px;
    text-align:center;
    background-color:#729e4c;
    color:#fff;
    padding:10px 12px;
}
.btn.btn-form-md:hover{
    background-color:#69c301;
}
.btn.btn-lg-icon{
    font-size: 16px;
    font-weight: 500;
    min-width:270px;
    padding:20px;
    background-color:#546e7a;
    color:#fff;
    position:relative;
    text-align:center;
}
.btn.btn-lg-icon .fa{
    position:absolute;
    left:54px;
    top:18px;
}
.btn.btn-lg-icon:hover{
    background-color:#155a7a;
}
.btn.btn-lg-icon.btn-following{
    background-color:#8bc34a;
    color:#fff;
    -webkit-box-shadow: 0 1px 2px rgba(69, 90, 100, 0.75);
    box-shadow: 0 1px 2px rgba(69, 90, 100, 0.75);
}
.btn.btn-lg-icon.btn-following:hover{
    background-color: #74c416;
}

.btn.btn-md-green{
    font-size: 15px;
    font-weight: 500;
    text-align:center;
    background-color:#8bc34a;
    color:#fff;
    min-width:108px;
    padding:15px 30px;
    border-radius:0;
}
.btn.btn-md-green:hover{
    background-color:#6fc709;
}
.btn.btn-md-green.btn-submit{
    padding:15px 37px;
}
.btn.btn-sm.btn-find{
    font-size: 12px;
    font-weight: 400;
    padding:8px 20px;
    background-color:#8bc34a;
    color:#fff;
}
.btn.btn-md-green.btn-send-message{
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    min-width:190px;
    line-height:1.5;
    padding:12px 35px;
    /*height:54px;*/
}
.btn.btn-form-submit{
    font-weight: 700;
    font-size: 14px;
    padding:19px 40px;
    min-width:141px;
    background-color:#fff;
    color:#000;
    text-transform: uppercase;
    border-radius:0;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
    box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
}
.btn.btn-form-submit:hover{
    color:#fff;
    background-color:#5fac07;
}
.btn.btn-form-create-account{
    font-weight: 400;
    font-size: 18px;
    min-width:250px;
    background-color:#76ae36;
    padding:17px 37px;
    color:#fff;
    border-radius:0;
    position:relative;
}
.btn.btn-form-create-account .fa{
    position:absolute;
    left:25px;
    top:17px;
}
.btn.btn-form-create-account:hover{
    background-color:#5fac07;
}
.btn.btn-go-to-cart{
    font-weight: 700;
    font-size: 14px;
    border:0;
    min-width:105px;
    color:#f4f6f5;
    background-color:#95c85a;
}
.btn.btn-go-to-cart:hover{
    background-color:#6fc609;
}
.btn.btn-go-to-cart.btn-go-to-checkout{
    background-color:#e85647;
}
.btn.btn-go-to-cart.btn-go-to-checkout:hover{
    background-color:#eb200b;
}
.btn.go-home{
    font-weight:700;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color:#fff;
    text-transform: uppercase;
    background-color:#8bc34a;
    border:2px solid #fff;
    border-radius:3px;
    padding:20px 30px;
    min-width:210px;
}
.btn.go-home:hover{
    background-color:#6fc609;
}