/* ================ LABEL ================ */
.default-label{
    font-size: 15px;
    color: #444;
}
.default-label sup{
    color: #8bc34a;
    font-size: 24px;
}
/* ================ LABEL END ============== */
/* ========== INPUT ============= */
.form-search{
    font-size: 14px;
    color: #90a4ae;
    font-weight: 500;
    min-width: 670px;
    padding: 13px 25px;
    border: none;
    line-height: 2.143em;
    border-radius: 5px;
    letter-spacing: .05em;
    -webkit-box-shadow: 0 1px 10px rgba(100, 100, 100, .75);
    box-shadow: 0 1px 10px rgba(100, 100, 100, .75);
}
.form-search::-webkit-input-placeholder{
    color: #90a4ae;
}
.form-search:-ms-input-placeholder{
    color: #90a4ae;
}
.form-search::-ms-input-placeholder{
    color: #90a4ae;
}
.form-search::placeholder{
    color: #90a4ae;
}
.form-search:focus{
    -webkit-box-shadow: 0 1px 10px rgba(124, 178, 64, .75);
    box-shadow: 0 1px 10px rgba(124, 178, 64, .75);
    outline: none;
}
.form-email{
    font-size: 14px;
    color: #b7c3c8;
    line-height: 2.572em;
    min-width: 260px;
    padding: 2px 14px;
    background-color: #2f3c43;
    border: none;
}
.form-email::-webkit-input-placeholder{
    color: #697378;    
}
.form-email:-ms-input-placeholder{
    color: #697378;    
}
.form-email::-ms-input-placeholder{
    color: #697378;    
}
.form-email::placeholder{
    color: #697378;    
}
.form-email:focus{
    color: #fff;
    outline: none;
}
.form-default{
    border: 1px solid #dedede;
    width: 100%;
    color: #707070;
    line-height: 2em;
    padding: 4px 18px;
    font-size: 15px;
    background-color: #f9f9f9;
}
.form-default:focus{
    outline: none;
}
textarea.form-default{
    min-height: 150px;
}
.form-contact{
    min-width: 350px;
    font-size: 15px;
    color: #7a7a7a;
    background-color: #f1f4f5;
    border: none;
    line-height: 1.6em;
    padding: 10px 16px;
}
.form-contact:focus{
    outline: none;
}
textarea.form-contact{
    min-height:196px;
    width: 100%;
}
.form-login{
    min-width: 400px;
    color: #fff;
    font-size: 14px;
    padding: 4px 18px 4px 42px;
    background-color: #76ae36;
    border: none;
    line-height: 2.571em;
	background-repeat: no-repeat;
	background-position: 18px center;
}
.form-login.icon-login{
    background-image: url('../../img/login.jpg');
}
.form-login.icon-lock{
    background-image: url('../../img/lock.jpg');
}
.form-login::-webkit-input-placeholder{
    color: #fff;
}
.form-login:-ms-input-placeholder{
    color: #fff;
}
.form-login::-ms-input-placeholder{
    color: #fff;
}
.form-login::placeholder{
    color: #fff;
}
.form-login:focus{
    outline: none;
}
.form-login::-webkit-input-placeholder{
    color: #fff;
}
.form-login:-ms-input-placeholder{
    color: #fff;
}
.form-login::-ms-input-placeholder{
    color: #fff;
}
.form-login::placeholder{
    color: #fff;
}
.file-upload{
    background-color: #f9f9f9;
    border: 1px solid #dcdcdc;
    padding: 7px;
}
.file-upload input[type="file"]{
    display: none;
}
.file-upload input[type="file"] + label{
    font-size: 12px;
    display: inline-block;
    color: #444;
    border: 1px solid #dcdcdc;
    padding: 6px 0;
    width: 92px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
}
.file-upload .file-name{
    font-size: 12px;
    color: #707070;
    margin-left: 12px;
}
/* ========= INPUT END ============= */
