/* === ERROR PAGE === */
.page-404 .title {
    padding: 25px 30px;
    color:#444;
}
.page-404 .content-404 {
    padding: 65px 0 100px;
}
.content-404 .wrap-404 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 300px;
    text-transform: uppercase;
}
.content-404 .wrap-404 error {
    margin-right: 15px;
}
.content-404 > .title {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2em;
    margin-top: 56px;
    color: #fff;
    padding: 0;
}
.content-404 p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin-top: 30px;
    line-height: 1.333em;
    max-width: 550px;
}
.content-404 .btn {
    font-family: 'Raleway', sans-serif;
    padding: 18px 20px;
    margin-top: 55px;
    border: 2px solid #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.content-404 .btn:hover {
    color: #8bc34a;
    background-color: #fff;
}
/* === ERROR PAGE END === */