/* === CONTACT PAGE === */
.contact-us-page > .title {
  padding: 25px 40px;
  text-transform: capitalize;
}
.contact-us-content {
  border-top: none;
  padding: 35px 40px 15px;
}
.contact-us-content .map {
  width: 100%;
  height: 415px;
  margin-bottom: 60px;
}
.contact-block > .fa {
  font-size: 24px;
  color: #8bc34a;
  margin-right: 25px;
}
.contact-block > .fa.fa-phone {
  margin-right: 19px;
}
.contact-block > .fa.fa-envelope-o {
  margin-right: 14px;
}
.contact-block > div > .title {
  line-height: 24px;
}
.contact-block .title::after {
  content: "";
  display: block;
  width: 45px;
  height: 4px;
  margin-top: 20px;
  background-color: #8bc34a;
}
.contact-block .text-default {
  margin-top: 25px;
}
.contact-block + .contact-block {
  margin-top: 30px;
}
.send-massage .title {
  color: #333;
}
.send-massage form,
.send-massage form .btn,
.send-massage form textarea {
  margin-top: 25px;
}
.send-massage form .btn {
  border: none;
  padding: 19px 31px;
  text-transform: uppercase;
}
/* === CONTACT PAGE END === */