.breadcrumb {
	padding: 8px 15px;
	line-height: normal;
    margin-bottom: 40px;
    list-style: none;
}
.breadcrumb>li {
    display: inline-block;
}

.breadcrumb>li a {
       	color:#b0bec5;
    	text-decoration: none;
}

.breadcrumb>li a:focus,
.breadcrumb>li a:hover {
    color: #8bc34a;
    text-decoration: underline;
}

.breadcrumb>.active {
    color: #263238;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #8bc34a;
    content: "-\00a0";
}