/* === BUTTON === */
.btn {
    display: inline-block;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    min-width: 60px;
    white-space: nowrap;
    color: #fff;
}
.btn:hover {
    color:  #fff;    
}
.btn.btn-default {
    font-size: 16px;
    padding: 17px 25px;
}
.btn.btn-xs {
    font-size: 12px;
    padding: 8px 12px;
}
.btn.btn-sm {
    font-size: 12px;
    min-width: 72px;
    padding: 10px;
}
.btn.btn-md {
    padding: 15px 38px;
}
.btn-social{
    display: inline-block;
    font-size: 18px;
    width: 54px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color:#fff;
}
.btn.medium{
    font-weight: 500!important;
}
.btn.regular{
    font-weight: 400!important;
}
.btn.bold{
    font-weight: 700!important;
}
.btn.radius {
    border-radius: 3px!important;
}
.btn > .fa {
    padding-right: 15px;
}
.btn.btn-default.btn-shadow {
    -webkit-box-shadow: 0 1px 2px rgba(69, 90, 100, .75);
    box-shadow: 0 1px 2px rgba(69, 90, 100, .75);
}
.btn.full-width {
    width: 100%;
}
.border-gray {
    border: 1px solid #d3d3d3;
}
/* === BUTTON END === */

/*=== COLORS ===*/
.btn-light-red{
    background-color:#e74c3c;
}
.btn-light-red:hover{
    background-color:#e5220e;
}
.btn-darker-blue{
    background-color:#455a64;
}
.btn-darker-blue:hover{
    background-color:#0f3f56;
}
.btn-light-green{
    background-color: #8bc34a;
}
.btn-light-green:hover{
    background-color:#79cd17;
}
.btn-light-blue{
    background-color:#42a5f5;
}
.btn-light-blue:hover{
    background-color:#078bf5;
}
.btn-dark-blue{
    background-color:#546e7a;
}
.btn-dark-blue:hover{
    background-color:#1a5875;
}
/* === BUTTON SOCIAL === */
.btn-color-facebook{
    background-color:#6370b6;
}
.btn-color-facebook:hover{
    background-color:#2a3fb2;
}
.btn-color-twitter{
    background-color:#5694c4;
}
.btn-color-twitter:hover{
    background-color:#1c94f5;
}
.btn-color-linkedin{
    background-color:#4f71ce;
}
.btn-color-linkedin:hover{
    background-color:#1f4dca;
}
.btn-color-pinterest{
    background-color:#d32f2f;
}
.btn-color-pinterest:hover{
    background-color:#c00606;
}
/* === BUTTON SOCIAL END  === */

/*===COLORS END====*/ 