.btn{
    display:inline-block;
    font-size: 12px;
    font-weight: 400;
    letter-spacing:0;
    line-height:1;
    padding: 10px 20px;
    border-radius:3px;
    cursor:pointer;
    border: 2px solid transparent;
    text-align:center;
    min-width:72px;
    white-space: nowrap;
}
/*===COLORS====*/
.btn-light-green{
    background-color: #8bc34a;
    color:#fff;
}
.btn-light-green:hover{
    background-color:#79cd17;
}
.btn-dark-green{
    background-color:#76ae36;
    color:#fff;
}
.btn-dark-green:hover{
    background-color:#5fac07;
}
.btn-light-red{
    background-color:#e74c3c;
    color:#fff;
}
.btn-light-red:hover{
    background-color:#e5220e;
}
.btn-white{
    background-color:#fff;
    color: #263238;
}
.btn-white:hover{
    background-color:#e5220e;
    color:#fff;
}
.white-with-shadow{
    background-color:#fff;
    color:#000;
    box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
}
.white-with-shadow:hover{
    color:#fff;
    background-color:#5fac07;
}
.btn-light-blue{
    background-color:#42a5f5;
    color:#fff;
}
.btn-light-blue:hover{
    background-color:#078bf5;
}
.btn-dark-blue{
    background-color:#546e7a;
    color:#fff;
}
.btn-dark-blue:hover{
    background-color:#1a5875;
}
.btn-darker-blue{
    background-color:#455a64;
    color:#fff;
}
.btn-darker-blue:hover{
    background-color:#0f3f56;
}
.btn-color-facebook{
    background-color:#6370b6;
}
.btn-color-facebook:hover{
    background-color:#2a3fb2;
}
.btn-color-twitter{
    background-color:#5694c4;
}
.btn-color-twitter:hover{
    background-color:#1c94f5;
}
.btn-color-linkedin{
    background-color:#4f71ce;
}
.btn-color-linkedin:hover{
    background-color:#1f4dca;
}
.btn-color-pinterest{
    background-color:#d32f2f;
}
.btn-color-pinterest:hover{
    background-color:#c00606;
}
/*===COLORS END====*/
.regular{
    font-weight: 400;
}
.medium{
    font-weight: 500;
}
.bold{
    font-weight: 700;
}
/*===SIZES===*/
.full-width{
    width:100%;
}
.btn.btn-lg{
    font-size: 18px;
    border-radius:0;
    padding: 24px 42px;
}
.btn-md{
    font-size: 15px;
    border-radius:0;
    padding:15px 83px;
    position:relative;
    text-align:center;
}
.btn-md .fa{
    font-size: 15px;
    position:absolute;
    top:15px;
    left:49px;
}
.btn-md-plus{
    font-size: 16px;
    position:relative;
}
.btn-md-super-plus{
    font-size: 16px;
    padding:22px 36px;
    text-transform: uppercase;
}
/*.btn-cart{*/
    /*padding-left:70px;*/
    /*padding-right:70px;*/
/*}*/
/*.btn-favourites{*/
    /*padding-left:50px;*/
    /*padding-right:50px;*/

/*}*/
/*.buy-now{*/
    /*padding-left:74px;*/
    /*padding-right:74px;*/
/*}*/
.btn.btn-lg-social{
    font-size: 18px;
    padding: 13px 22px;
    border-radius:0;
    min-width:54px;
    color:#fff;
}
.btn.btn-form-md{
    font-size: 20px;
    border-radius: 0;
    min-width:43px;
    text-align:center;
    background-color:#729e4c;
    color:#fff;
    padding:10px 12px;
}
.btn.btn-form-md:hover{
    background-color:#69c301;
}
.btn-sm{
    font-size: 12px;
    font-weight: 400;
    min-width:60px;
    padding:10px 20px;
}
.btn-form-submit{
    font-size: 14px;
    border-radius:0;
    padding:20px 45px;
    position:relative;
    text-align:center;
}
.btn-form-create-account{
    font-size: 18px;
    /*min-width:250px;*/
    padding:17px 37px;
    border-radius:0;
    position:relative;
}
.btn.go-home{
    font-weight:700;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color:#fff;
    text-transform: uppercase;
    background-color:#8bc34a;
    border:2px solid #fff;
    border-radius:3px;
    padding:20px 30px;
    min-width:210px;
}
.btn.go-home:hover{
    background-color:#6fc609;
}

