.small-section {
	padding: 120px 0;
}

.default-section{
	padding:45px 0 125px;
}

.big-section{
	padding:130px 0;
}

.search-section-small{
	padding :58px 0 68px;
}
.default-search-section{
	padding :80px 0 95px;
}

.search-section-big{
	padding: 153px 0 175px;
}

