@font-face {
    font-family: 'latosemibold';
    src: url('..../fonts/lato-semibold-webfont.eot');
    src: url('..../fonts/lato-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('..../fonts/lato-semibold-webfont.woff2') format('woff2'),
         url('..../fonts/lato-semibold-webfont.woff') format('woff'),
         url('..../fonts/lato-semibold-webfont.ttf') format('truetype'),
         url('..../fonts/lato-semibold-webfont.svg#latosemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*DEFAULT CLASSES*/

/*MIDDLE section*/
.text-default{
    font-family: 'robotoregular', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #707070;
} 
/*MIDDLE section END*/

/*MAIN-HOME*/

/*SEARCH FORM*/
.text-search-form{
    font-family: 'robotomedium', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    color: #fff;
    width: 530px;
    overflow: hidden;
    text-align: center;
}
/*SEARCH FORM END*/

/*why choose*/
.text-dirty-blue{
   color: #b0bec5;
   text-align: center;
}
/*/why choose*/
/*MAIN-HOME END*/


/*PRODUCT-PAGE*/
.text-grey{
    font-size: 14px;
    line-height: 4;
    color: #546e7a;
}  
.text-green{
    font-size: 14px;
    line-height: 4;
    color: #8bc34a;
}  
.text-dark-grey{
    font-family: 'robotomedium', sans-serif;
    font-size: 16px;
    line-height: 4;
    color: #263238;
}
/*PRODUCT-PAGE END*/



/*FOOTER*/
.text-light-grey{
    line-height: 2;
    color: #b7c3c8;
} 
/*FOOTER address and phone*/
.text-white{
    font-family: 'latosemibold', sans-serif;
    font-size: 14px;
    line-height: 2;
    color: #fff;
} 
/*FOOTER END*/




/*DEFAULT CLASSES END*/

/*CUSTOM CLASSES*/


/*CUSTOM CLASSES END*/